<html>
  <head>
    <title>Still Thinking It Over?</title>
  </head>
  <body>
    <table
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="630"
    >
      <tr>
        <td align="center" style="padding: 0">
          <!-- BEGIN - HEADER -->
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="
              font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              width: 630px;
              padding-left: 5px;
              padding-top: 0px;
            "
            width="630"
          >
            <tr>
              <td align="center" bgcolor="#616e26" valign="top" width="600">
                <span
                  style="
                    color: #ffffff;
                    font-weight: bold;
                    font-size: 18px;
                    line-height: 35px;
                  "
                  >FREE SHIPPING FOR ALL ORDERS OVER $125*</span
                >
              </td>
            </tr>
            <tr>
              <td align="center" style="padding-top: 10px">
                <a
                  href="http://www.decoratorsbest.com?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                  target="_blank"
                >
                  <img
                    alt="DECORATORS BEST - Your #1 Source for Fabric &amp; Wallpaper"
                    src="https://d3k81ch9hvuctc.cloudfront.net/company/KVsAXS/images/31001a61-8e8c-42a6-933e-9ad48474dbaf.png"
                    width="271"
                /></a>
              </td>
            </tr>
            <tr>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td
                colspan="2"
                style="vertical-align: bottom; padding-bottom: 5px"
                width="600"
              >
                <table
                  align="center"
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    font-family: Arial, Helvetica, sans-serif;
                    color: #000000;
                  "
                  width="600"
                >
                  <tr>
                    <td
                      align="center"
                      style="width: 16%; border-right: 2px solid"
                    >
                      <a
                        href="https://www.decoratorsbest.com/pages/designer-fabrics?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                        style="
                          font-family: Arial, Helvetica, sans-serif;
                          color: #000000;
                          font-size: 15px !important;
                          text-decoration: none;
                          font-weight: bold;
                        "
                        target="_blank"
                        >FABRIC</a
                      >
                    </td>
                    <td
                      align="center"
                      style="width: 22%; border-right: 2px solid"
                    >
                      <a
                        href="https://www.decoratorsbest.com/pages/designer-wallpaper?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                        style="
                          font-family: Arial, Helvetica, sans-serif;
                          color: #000000;
                          font-size: 15px !important;
                          text-decoration: none;
                          font-weight: bold;
                        "
                        target="_blank"
                        >WALLPAPER</a
                      >
                    </td>
                    <td
                      align="center"
                      style="width: 23%; border-right: 2px solid"
                    >
                      <a
                        href="https://www.decoratorsbest.com/pages/decor?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                        style="
                          font-family: Arial, Helvetica, sans-serif;
                          color: #000000;
                          font-size: 15px !important;
                          text-decoration: none;
                          font-weight: bold;
                        "
                        target="_blank"
                        >HOME DECOR</a
                      >
                    </td>
                    <td
                      align="center"
                      style="width: 19%; border-right: 2px solid"
                    >
                      <a
                        href="https://www.decoratorsbest.com/pages/lighting?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                        style="
                          font-family: Arial, Helvetica, sans-serif;
                          color: #000000;
                          font-size: 15px !important;
                          text-decoration: none;
                          font-weight: bold;
                        "
                        target="_blank"
                        >LIGHTING</a
                      >
                    </td>
                    <td align="center" style="width: 20%">
                      <a
                        href="https://www.decoratorsbest.com/pages/throw-pillows?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                        style="
                          font-family: Arial, Helvetica, sans-serif;
                          color: #000000;
                          font-size: 15px !important;
                          text-decoration: none;
                          font-weight: bold;
                        "
                        target="_blank"
                        >PILLOWS</a
                      >
                    </td>
                    <td style="width: 4%"></td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="
              font-family: Arial, Helvetica, sans-serif;
              font-size: 15px;
              width: 630px;
              padding-left: 5px;
              padding-top: 0px;
            "
            width="630"
          >
            <br />
            <tbody>
              <tr>
                <td>
                  <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    width="630"
                  >
                    <tr>
                      <td>
                        <table
                          border="0"
                          cellpadding="0"
                          cellspacing="0"
                          style="padding-top: 10px"
                          width="630"
                        >
                          <tbody>
                            <tr>
                              <td align="center" width="310">
                                <a href="{{ dp.u }}" target="_blank">
                                  <h2 align="left" style="padding-bottom: 2px">
                                    <img
                                      alt="{{ dp.t }}"
                                      height="300px"
                                      src="{{ dp.img }}"
                                      width="300px"
                                    />
                                  </h2>
                                </a>
                              </td>
                              <td>&nbsp;</td>
                              <td width="310">
                                <a href="{{ dp.u }}" target="_blank">
                                  <p
                                    align="left"
                                    style="
                                      font-size: 18px;
                                      text-transform: uppercase;
                                      font-weight: bold;
                                      line-height: 22px;
                                      color: #4a4a4a;
                                      text-decoration: none;
                                    "
                                  >
                                    {{ dp.t }}
                                  </p>
                                  <p
                                    align="left"
                                    style="
                                      font-size: 18px;
                                      font-weight: bold;
                                      line-height: 22px;
                                      color: #4a4a4a;
                                      text-decoration: none;
                                    "
                                  >
                                    ${{ dp.unitprice }} {{ dp.pricetype }}
                                  </p>
                                  <p
                                    align="left"
                                    style="
                                      font-size: 12px;
                                      padding-botton: -35px;
                                      font-weight: bold;
                                      line-height: 22px;
                                      color: #292929;
                                      text-decoration: none;
                                    "
                                  >
                                    SKU: {{ dp.sku }}
                                  </p> </a
                                ><a
                                  href="{{ dp.u }}"
                                  style="
                                    background-color: #222222;
                                    width: 150px;
                                    border: none;
                                    color: white;
                                    padding: 15px 32px;
                                    text-align: center;
                                    text-decoration: none;
                                    display: inline-block;
                                    font-size: 15px;
                                    margin: 4px 2px;
                                    cursor: pointer;
                                    font-size: 16px;
                                    font-weight: bold;
                                  "
                                  target="_blank"
                                  >SHOP NOW</a
                                ><br /><br /><br />
                                <a
                                  class="text-left"
                                  href="https://decoratorsbest.myshopify.com/pages/upholstery-measurements-guide"
                                  style="
                                    font-size: 16px;
                                    color: #555;
                                    text-decoration: underline;
                                  "
                                  >Upholstery Measurements Guide</a
                                >
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <table
                align="center"
                border="0"
                cellpadding="0"
                cellspacing="0"
                style="padding-top: 20px"
                width="630"
              >
                <tr>
                  <td>
                    <div
                      align="justify"
                      style="
                        font-size: 16px;
                        font-weight: bold;
                        padding-bottom: 30px;
                        line-height: 24px;
                        color: #000;
                        text-decoration: none;
                        text-align: left;
                      "
                    >
                      <span
                        style="
                          font-size: 16px;
                          font-weight: bold;
                          line-height: 24px;
                        "
                        >Call, Text, or Email us with any questions.<br /><a
                          href="tel:2127226449"
                          style="color: black"
                          >212-722-6449</a
                        >
                        |
                        <a
                          href="mailto:orders@decoratorsbest.com"
                          style="color: black"
                          >orders@decoratorsbest.com</a
                        ></span
                      >
                    </div>
                  </td>
                </tr>
              </table>
              <table class="row section" style="border: none">
                <tbody>
                  <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="padding-top: 0px"
                    width="630"
                  >
                    <tbody>
                      <tr>
                        <td align="center" width="310">
                          <a
                            href="https://www.decoratorsbest.com/pages/designer-fabrics?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                            target="_blank"
                          >
                            <img
                              alt="DESIGNER FABRIC"
                              src="https://decoratorsbestimages.s3.amazonaws.com/sample_reminder_1_fabric.jpg"
                          /></a>
                        </td>
                        <td align="center" width="310">
                          <a
                            href="https://www.decoratorsbest.com/pages/designer-wallpaper?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                            target="_blank"
                          >
                            <img
                              alt="DESIGNER WALLPAPER"
                              src="https://decoratorsbestimages.s3.amazonaws.com/sample_reminder_1_wallpaper.jpg"
                          /></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table
                    align="center"
                    border="0"
                    cellpadding="0"
                    cellspacing="0"
                    style="padding-top: 20px; padding-bottom: 10px"
                    width="630"
                  >
                    <tbody>
                      <tr>
                        <td align="center" width="310">
                          <a
                            href="https://www.decoratorsbest.com/pages/decor?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                            target="_blank"
                          >
                            <img
                              alt="D&Eacute;COR"
                              src="https://decoratorsbestimages.s3.amazonaws.com/sample_reminder_1_decor.jpg"
                          /></a>
                        </td>
                        <td align="center" width="310">
                          <a
                            href="https://www.decoratorsbest.com/pages/inspiration?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                            target="_blank"
                          >
                            <img
                              alt="INSPIRATION"
                              src="https://decoratorsbestimages.s3.amazonaws.com/sample_reminder_1_inspiration.jpg"
                          /></a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </tbody>
              </table>
              <!-- ENDS BODY -->
              <!-- FOOTER -->
              <table
                align="center"
                border="0"
                cellpadding="0"
                cellspacing="0"
                style="
                  font-family: Arial, Helvetica, sans-serif;
                  color: #000000;
                  font-size: 15px;
                  padding-left: 5px;
                  padding-right: 5px;
                "
                width="620"
              >
                <tr>
                  <td align="center" colspan="2">
                    <a
                      href="http://instagram.com/decoratorsbest"
                      target="_blank"
                    >
                      <img
                        alt="Instagram"
                        height="30"
                        src="https://media.sailthru.com/5lz/1k1/6/d/593fec848c499.png"
                        title="Instagram"
                        width="30" /></a
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a
                      href="http://www.facebook.com/DecoratorsBest"
                      target="_blank"
                    >
                      <img
                        alt="Facebook"
                        height="30"
                        src="https://media.sailthru.com/5lz/1k1/6/d/593fec4b81d33.png"
                        title="Facebook"
                        width="30" /></a
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a
                      href="http://pinterest.com/decoratorsbest/"
                      target="_blank"
                    >
                      <img
                        alt="Pinterest"
                        height="30"
                        src="https://media.sailthru.com/5lz/1k2/3/q/5ab87ae6dd363.jpg"
                        title="Pinterest"
                        width="30" /></a
                    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  </td>
                </tr>
                <tr>
                  <td align="center" colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td align="center" colspan="2">
                    <table
                      align="center"
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      style="
                        font-family: Arial, Helvetica, sans-serif;
                        color: #000000;
                        font-size: 14px;
                        font-weight: bold;
                        width: 630px;
                      "
                      width="630"
                    >
                      <tr>
                        <td style="width: 20%"></td>
                        <td
                          align="center"
                          style="background-color: #dadada"
                          width="19%"
                        >
                          <a
                            href="https://www.decoratorsbest.com/pages/press?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                            style="
                              text-decoration: none;
                              color: #000000;
                              text-align: center;
                              margin-right: 5px;
                            "
                            target="_blank"
                            >PRESS</a
                          >
                        </td>
                        <td align="center" width="1%">&nbsp;</td>
                        <td
                          align="center"
                          style="background-color: #dadada"
                          width="19%"
                        >
                          <a
                            href="https://www.decoratorsbest.com/pages/faq?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                            style="
                              text-decoration: none;
                              color: #000000;
                              text-align: center;
                              margin-right: 5px;
                            "
                            target="_blank"
                            >FAQ</a
                          >
                        </td>
                        <td align="center" width="1%">&nbsp;</td>
                        <td
                          align="center"
                          style="background-color: #dadada"
                          width="20%"
                        >
                          <a
                            href="https://www.decoratorsbest.com/pages/faq#returns-content?utm_source=klaviyo&amp;utm_medium=email&amp;utm_campaign=Sample%20Reminder%202"
                            style="
                              text-decoration: none;
                              color: #000000;
                              text-align: center;
                            "
                            target="_blank"
                            >RETURNS</a
                          >
                        </td>
                        <td style="width: 20%"></td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td align="center" colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td
                    align="center"
                    colspan="2"
                    style="
                      font-size: 12px;
                      color: #000000;
                      line-height: 18px;
                      text-align: left;
                    "
                  >
                    <p>
                      *SPECIAL DISCOUNTS OFF all SELECT BRANDS* for orders of
                      $200 or more excluding applicable tax and shipping cost by
                      using our sale code. Brands not participating in the sale
                      include Borastapeter, several European brands, Elaine
                      Smith, Phillip Jeffries, Phillips Collection, Schumacher,
                      and Zoffany Brands. This coupon code cannot be combined
                      with other coupon codes and is not available for members
                      of the DecoratorsBest Trade program.
                    </p>

                    <p>
                      Free shipping promotion applies to all orders of $125 and
                      more within the contiguous United States and excludes
                      international orders and expedited orders. Free shipping
                      does not apply to oversized products including heavy or
                      large rugs and furniture. Free shipping is not applicable
                      for members of the DecoratorsBest Trade Program.
                    </p>
                  </td>
                </tr>

                <tr>
                  <td align="center" colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td
                    colspan="2"
                    style="
                      font-family: arial, helvetica, sans-serif;
                      font-size: 10pt;
                      text-align: center;
                      text-decoration: none;
                      color: #000000;
                    "
                  >
                    &copy;2024 DecoratorsBest<br />
                  </td>
                </tr>
                <tr>
                  <td align="center" colspan="2">&nbsp;</td>
                </tr>
                <tr>
                  <td align="center" colspan="2">&nbsp;</td>
                </tr>
              </table>
            </tbody>
          </table>
          <!-- ENDS FOOTER -->
        </td>
      </tr>
    </table>
  </body>
</html>
